In [5]:
import io
import pandas as pd
t="""col1;col2;col3
1.0;10.0;100.0
2.0;20.0;200.0
3.0;30.0;300.0"""
print('False:\n', pd.read_csv(io.StringIO(t), sep=';', header=None))

False:
       0     1      2
0  col1  col2   col3
1   1.0  10.0  100.0
2   2.0  20.0  200.0
3   3.0  30.0  300.0

In [8]:
print('False:\n', pd.read_csv(io.StringIO(t), header=None))

False:
                 0
0  col1;col2;col3
1  1.0;10.0;100.0
2  2.0;20.0;200.0
3  3.0;30.0;300.0

In [9]:
print('False:\n', pd.read_csv(io.StringIO(t), sep=';'))

False:
    col1  col2   col3
0   1.0  10.0  100.0
1   2.0  20.0  200.0
2   3.0  30.0  300.0

In [17]:
print('False:\n', pd.read_csv(io.StringIO(t), delimiter='\t'))

False:
    col1;col2;col3
0  1.0;10.0;100.0
1  2.0;20.0;200.0
2  3.0;30.0;300.0

In [21]:
print('False:\n', pd.read_csv(io.StringIO(t), delimiter=';',header=None))

False:
       0     1      2
0  col1  col2   col3
1   1.0  10.0  100.0
2   2.0  20.0  200.0
3   3.0  30.0  300.0

In [44]:
p=pd.read_csv(io.StringIO(t), delimiter=';')
c = ['x','y','z']
p=pd.read_csv(io.StringIO(t), delimiter=';',header = None)
p.columns=c
p

      x     y      z
0  col1  col2   col3
1   1.0  10.0  100.0
2   2.0  20.0  200.0
3   3.0  30.0  300.0

In [43]:
#it is for names

p=pd.read_csv(io.StringIO(t), delimiter=';')
c = ['x','y','z']
p=pd.read_csv(io.StringIO(t), delimiter=';',header = None, names=c)
#p.columns=c
p

      x     y      z
0  col1  col2   col3
1   1.0  10.0  100.0
2   2.0  20.0  200.0
3   3.0  30.0  300.0

In [49]:
#it's for skiprows

p=pd.read_csv(io.StringIO(t), delimiter=';',skiprows=1, header=None)
p

     0     1      2
0  1.0  10.0  100.0
1  2.0  20.0  200.0
2  3.0  30.0  300.0

In [50]:
p=pd.read_csv(io.StringIO(t), delimiter=';',skiprows=[1], header=None)
p

      0     1      2
0  col1  col2   col3
1   2.0  20.0  200.0
2   3.0  30.0  300.0