In [1]:
import pandas as pd
import numpy as np

df_ds = pd.read_csv('titanic.csv')
df=df_ds.copy()
df = df.drop(df.columns[[10]],axis = 1)
df = df.dropna(axis=0)

In [3]:
from itertools import groupby

def soundex(word):
   codes = ("bfpv","cgjkqsxz", "dt", "l", "mn", "r")
   soundDict = dict((ch, str(ix+1)) for ix,cod in enumerate(codes) for ch in cod)
   cmap2 = lambda kar: soundDict.get(kar, '9')
   sdx =  ''.join(cmap2(kar) for kar in word.lower())
   sdx2 = word[0].upper() + ''.join(k for k,g in list(groupby(sdx))[1:] if k!='9')
   sdx3 = sdx2[0:4].ljust(4,'0')
   return sdx3

#soundex("smith")#enter smith||smythe or smoething like that

'S530'

In [4]:
df_ds['Name'] = df_ds['Name'].map(soundex).copy()

In [5]:
df_ds

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,B653,male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,C552,female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,H255,female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,F364,female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,A455,male,35.0,0,0,373450,8.0500,NaN,S
5,6,0,3,M655,male,NaN,0,0,330877,8.4583,NaN,Q
6,7,0,1,M263,male,54.0,0,0,17463,51.8625,E46,S
7,8,0,3,P425,male,2.0,3,1,349909,21.0750,NaN,S
8,9,1,3,J525,female,27.0,0,2,347742,11.1333,NaN,S
9,10,1,2,N265,female,14.0,1,0,237736,30.0708,NaN,C
10,11,1,3,S532,female,4.0,1,1,PP 9549,16.7000,G6,S
11,12,1,1,B545,female,58.0,0,0,113783,26.5500,C103,S
12,13,0,3,S536,male,20.0,0,0,A/5. 2151,8.0500,NaN,S
13,14,0,3,A536,male,39.0,1,5,347082,31.2750,NaN,S
14,15,0,3,V236,female,14.0,0,0,350406,7.8542,NaN,S
15,16,1,2,H435,female,55.0,0,0,248706,16.0000,NaN,S
16,17,0,3,R252,male,2.0,4,1,382652,29.1250,NaN,Q
17,18,1,2,W452,male,NaN,0,0,244373,13.0000,NaN,S
18,19,0,3,V536,female,31.0,1,0,345763,18.0000,NaN,S
19,20,1,3,M245,female,NaN,0,0,2649,7.2250,NaN,C
20,21,0,2,F556,male,35.0,0,0,239865,26.0000,NaN,S
21,22,1,2,B245,male,34.0,0,0,248698,13.0000,D56,S
22,23,1,3,M255,female,15.0,0,0,330923,8.0292,NaN,Q
23,24,1,1,S416,male,28.0,0,0,113788,35.5000,A6,S
24,25,0,3,P425,female,8.0,3,1,349909,21.0750,NaN,S
25,26,1,3,A214,female,38.0,1,5,347077,31.3875,NaN,S
26,27,0,3,E565,male,NaN,0,0,2631,7.2250,NaN,C
27,28,0,1,F635,male,19.0,3,2,19950,263.0000,C23 C25 C27,S
28,29,1,3,O365,female,NaN,0,0,330959,7.8792,NaN,Q
29,30,0,3,T361,male,NaN,0,0,349216,7.8958,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
861,862,0,2,G425,male,21.0,1,0,28134,11.5000,NaN,S
862,863,1,1,S135,female,48.0,0,0,17466,25.9292,D17,S
863,864,0,3,S252,female,NaN,8,2,CA. 2343,69.5500,NaN,S
864,865,0,2,G456,male,24.0,0,0,233866,13.0000,NaN,S
865,866,1,2,B236,female,42.0,0,0,236852,13.0000,NaN,S
866,867,1,2,D655,female,27.0,1,0,SC/PARIS 2149,13.8583,NaN,C
867,868,0,1,R145,male,31.0,0,0,PC 17590,50.4958,A24,S
868,869,0,3,V554,male,NaN,0,0,345777,9.5000,NaN,S
869,870,1,3,J525,male,4.0,1,1,347742,11.1333,NaN,S
870,871,0,3,B422,male,26.0,0,0,349248,7.8958,NaN,S
871,872,1,1,B235,female,47.0,1,1,11751,52.5542,D35,S
872,873,0,1,C642,male,33.0,0,0,695,5.0000,B51 B53 B55,S
873,874,0,3,V536,male,47.0,0,0,345765,9.0000,NaN,S
874,875,1,2,A142,female,28.0,1,0,P/PP 3381,24.0000,NaN,C
875,876,1,3,N215,female,15.0,0,0,2667,7.2250,NaN,C
876,877,0,3,G231,male,20.0,0,0,7534,9.8458,NaN,S
877,878,0,3,P361,male,19.0,0,0,349212,7.8958,NaN,S
878,879,0,3,L415,male,NaN,0,0,349217,7.8958,NaN,S
879,880,1,1,P365,female,56.0,0,1,11767,83.1583,C50,C
880,881,1,2,S456,female,25.0,0,1,230433,26.0000,NaN,S
881,882,0,3,M625,male,33.0,0,0,349257,7.8958,NaN,S
882,883,0,3,D416,female,22.0,0,0,7552,10.5167,NaN,S
883,884,0,2,B514,male,28.0,0,0,C.A./SOTON 34068,10.5000,NaN,S
884,885,0,3,S345,male,25.0,0,0,SOTON/OQ 392076,7.0500,NaN,S
885,886,0,3,R256,female,39.0,0,5,382652,29.1250,NaN,Q
886,887,0,2,M531,male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,G655,female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,J523,female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,B656,male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,D456,male,32.0,0,0,370376,7.7500,NaN,Q